.git
.gitignore
.gitattributes
.github
node_modules
vendor
bootstrap/cache/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
.env.production
docker-compose.yml
Dockerfile
.dockerignore
npm-debug.log
yarn-error.log
README.md
TODO.md
tests
phpunit.xml
.editorconfig
jsconfig.json
